:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.custom-logout-modal {
  max-width: 600px;
  width: 90%;
  border-radius: 12px;
  margin-left: 40%;
}
.model-no,
.model-yes {
  border: none !important;
  display: inline inline-block !important;
  width: 100px !important;
}

.model-no {
  background-color: #405189;
  color: #ffffff;
}

.model-no:hover {
  background-color: #2e3a5e;
  transform: translateY(-1px);
}

.model-yes {
  background-color: #17a2b8 !important;
  color: #ffffff;
}

.model-yes:hover {
  background-color: #138a9b;
  transform: translateY(-1px);
}
.float-en {
  display: flex;
  justify-content: flex-end;
}
.lord-icon {
  width: 120px;
  height: 120px;
}
.img-avatar {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: "pointer";
  background: "#fff";
}
.text-size {
  font-size: 24px;
  bottom: 0;
  right: 20px;
  position: absolute;
  background-color: rgba(51, 46, 53, 0.9);
  border-radius: 50%;
  padding: 3px;
  color: white;
}


.close-icon {
  color: #fff;
  font-size: 20px;
}
.user-profile-image {
  margin-right: 25px;
}

.image-close{
  display: none;
}
.user-profile-image:hover  ~.image-close {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.variant_img {
  object-fit: cover;
  width: 120px;
  height: 120px;
}
.span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 8px;
  border: 1px solid #000;
}

